@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.right-0 {
  right: 0 !important;
}


.hidden{
  right: -100% !important;
}




.right-0{
  right: 0 !important;
}
.swiper-wrapper{
  padding: 20px !important;
}


